@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background-color: lightgray;
    border-radius: 5px;
}

button:hover {
    background-color: cyan;
    transition: 0.15s all ease-in-out;
}

:root {
    font-family: 'Roboto', sans-serif;
}

/* Page layout */
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin: 0;
}

header button {
    font-size: 2rem;
    padding: 15px 25px;
}

/* Modal Dialog */
dialog.modal {
    border-radius: 10px;
    padding: 50px;
}

dialog.modal form,
.modal-content,
.buttons,
.input,
div {
    display: flex;
    flex-direction: column;
}

.modal-content {
    gap: 15px;   
    align-items: center;
}

dialog.modal form {
    gap: 17px;
    font-size: 1.2rem;
}

.buttons {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    justify-self: flex-end;
}

.input {
    flex-direction: column;
    gap: 3px;
}

.read-input {
    flex-direction: row;
    justify-content: space-between;
}

/* Books grid */
.books {
    height: 100%;
    background-color: #e2e8f0;
    padding: 40px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-flow: 200px;
    gap: 30px;
    justify-items: center;
    overflow: scroll;
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    padding: 20px 5px;
}

.card h2,
.card h2+p {
    align-self: center;
    text-align: center;
}

.card h2+p {
    text-transform: capitalize;
}

.card :nth-child(3) {
    margin-top: 45%;
}

.card button {
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px 10px;
}